<?xml version="1.0" encoding="utf-8"?><manifest xmlns:android="http://schemas.android.com/apk/res/android"
package="com.mercury1089.scoutingapp2019">

<application
    android:allowBackup="true"
    android:icon="@mipmap/ic_launcher"
    android:label="@string/app_name"
    android:roundIcon="@mipmap/ic_launcher_round"
    android:supportsRtl="true"
    android:theme="@style/AppTheme">
    <activity android:name=".Climb" />
    <activity android:name=".Teleop" />
    <activity
        android:name=".SandstormRight"
        android:parentActivityName=".MainActivity" />
    <activity
        android:name=".Sandstorm"
        android:parentActivityName=".MainActivity" />
    <activity
        android:name=".MainActivity"
        android:parentActivityName=".Settings" />
    <activity android:name=".Settings">
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />
            <action android:name="android.intent.action.VIEW" />
            <!-- idk bout the line above this lol -->
            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
    </activity>
    <activity android:name="com.mercury1089.scoutingapp2019.QR_Display"></activity>
</application>

</manifest>